/ImagetoPDFConverter/nbproject/private/
/ImagetoPDFConverter/build/
/ImagetoPDFConverter/dist/
/SecureFileCrypt/nbproject/private/
/SecureFileCrypt/build/
/SecureFileCrypt/dist/
/server/nbproject/private/
/server/build/
/ZipCompressor/nbproject/private/
/ZipCompressor/build/
/ZipCompressor/dist/
/MarkSheet/nbproject/private/
/MarkSheet/build/
/MarkSheet/dist/
